## Calculating the Beta of a Stock

In [10]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb

actions = ['BIDI4.SA','MGLU3.SA','ALPA4.SA']
data = pd.DataFrame()

for action in actions:
    data[action] = wb.DataReader(action, data_source='yahoo', start='2015-1-1', end='8-1-2020')['Adj Close']

In [11]:
data.tail()

             BIDI4.SA   MGLU3.SA   ALPA4.SA
Date
2020-07-27  18.950001  79.167801  29.459999
2020-07-28  19.100000  80.215401  28.760000
2020-07-29  20.219999  80.025833  29.900000
2020-07-30  20.299999  83.098755  31.250000
2020-07-31  20.580000  80.615822  31.459999

*****

Calculate the beta of Microsoft.

In [12]:
sec_return = np.log(data / data.shift(1))

In [15]:
cov = sec_return.cov() * 250
cov

          BIDI4.SA  MGLU3.SA  ALPA4.SA
BIDI4.SA  5.092193  0.191977  0.101382
MGLU3.SA  0.191977  0.339175  0.162121
ALPA4.SA  0.101382  0.162121  0.256593

In [23]:
cov_with_market = cov.iloc[0,1]
cov_with_market

0.19197688595375764

In [29]:
market_var = sec_return['ALPA4.SA'].var() * 250
market_var

0.25659321421806386

## Beta:

### $$ 
\beta_{pg} = \frac{\sigma_{pg,m}}{\sigma_{m}^2}
$$

In [30]:
beta = cov_with_market / market_var
beta

0.7481760051168286

**Calculate the expected return of P&G (CAPM):**
### $$
\overline{r_{pg}} = r_f + \beta_{pg}(\overline{r_{m}} - r_f) 
$$

In [31]:
BIDI_er = 0.08 * beta * 0.05
BIDI_er

0.0029927040204673146