## Calculating the Beta of a Stock

In [9]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb

actions = ['MGLU3.SA','^BVSP']
data = pd.DataFrame()

for action in actions:
    data[action] = wb.DataReader(action, data_source='yahoo', start='2015-1-1', end='8-1-2020')['Adj Close']

In [10]:
data.tail()

             MGLU3.SA     ^BVSP
Date
2020-07-27  19.687790  104477.0
2020-07-28  19.948309  104109.0
2020-07-29  19.901167  105605.0
2020-07-30  20.665358  105009.0
2020-07-31  20.047892  102912.0

*****

### Calculate the beta of the actions

In [11]:
sec_return = np.log(data / data.shift(1))

In [4]:
cov = sec_return.cov() * 250
cov

          BIDI4.SA  MGLU3.SA  ALPA4.SA
BIDI4.SA  8.780351  0.195496  0.083158
MGLU3.SA  0.195496  0.335921  0.159003
ALPA4.SA  0.083158  0.159003  0.252573

In [12]:
cov_with_market = cov.iloc[0,1]
cov_with_market

0.19549623322251078

In [14]:
market_var = sec_return['^BVSP'].var() * 250
market_var

0.07629775333791299

## Beta

### $$ 
\beta_{mglu} = \frac{\sigma_{mglu,market}}{\sigma_{market}^2}
$$

In [15]:
beta = cov_with_market / market_var
beta

2.5622803381468255

## Calculate the expected return of MGLU (CAPM):

### $$
\overline{r_{pg}} = r_f + \beta_{pg}(\overline{r_{m}} - r_f) 
$$

In [20]:
bra_market_risk = 0.1219 # https://www.bloomberg.com/markets/rates-bonds
reward = 0.05
MGLU_CAPM = bra_market_risk * beta * reward
MGLU_CAPM

0.015617098661004903