In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
tickers = ['PG', 'BEI.DE']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']

In [3]:
sec_data.tail()

                    PG      BEI.DE
Date
2020-03-04  124.500000   99.419998
2020-03-05  121.629997  100.800003
2020-03-06  121.660004   98.779999
2020-03-09  116.059998   95.980003
2020-03-10  120.550003   93.120003

In [4]:
sec_returns = np.log(sec_data / sec_data.shift(1))

In [5]:
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006545
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858
...              ...       ...
2020-03-04  0.052181  0.016224
2020-03-05 -0.023322  0.013785
2020-03-06  0.000247 -0.020243
2020-03-09 -0.047123 -0.028755
2020-03-10  0.037957 -0.030251

[3319 rows x 2 columns]

## PG

In [6]:
sec_returns['PG'].mean()

0.0003076535189502622

In [7]:
sec_returns['PG'].mean() * 250

0.07691337973756554

In [8]:
sec_returns['PG'].std()

0.011097818199873658

In [9]:
sec_returns['PG'].std() * 250 ** 0.5

0.17547191285035263

## Beiersdorf

In [10]:
sec_returns['BEI.DE'].mean()

0.00024081979586593758

In [11]:
sec_returns['BEI.DE'].mean() * 250

0.060204948966484394

In [12]:
sec_returns['BEI.DE'].std()

0.01357673225578899

In [13]:
sec_returns['BEI.DE'].std() * 250 ** 0.5

0.21466698555284486

***

In [14]:
print (sec_returns['PG'].mean() * 250)
print (sec_returns['BEI.DE'].mean() * 250)

0.07691337973756554
0.060204948966484394

In [16]:
# sec_returns['PG', 'BEI.DE'].mean() * 250

In [18]:
sec_returns[['PG', 'BEI.DE']].mean() * 250

PG        0.076913
BEI.DE    0.060205
dtype: float64

In [19]:
sec_returns[['PG', 'BEI.DE']].std() * 250 ** 0.5

PG        0.175472
BEI.DE    0.214667
dtype: float64

## Covariance and Correlation


\begin{eqnarray*}
Covariance Matrix: \  \   
\Sigma = \begin{bmatrix}
        \sigma_{1}^2 \ \sigma_{12} \ \dots \ \sigma_{1I} \\
        \sigma_{21} \ \sigma_{2}^2 \ \dots \ \sigma_{2I} \\
        \vdots \ \vdots \ \ddots \ \vdots \\
        \sigma_{I1} \ \sigma_{I2} \ \dots \ \sigma_{I}^2
    \end{bmatrix}
\end{eqnarray*}

In [20]:
PG_var = sec_returns['PG'].var() 
PG_var

0.000123161568797447

In [21]:
BEI_var = sec_returns['BEI.DE'].var() 
BEI_var

0.0001843276587453812

In [22]:
PG_var_a = sec_returns['PG'].var() * 250
PG_var_a

0.03079039219936175

In [23]:
BEI_var_a = sec_returns['BEI.DE'].var() * 250
BEI_var_a

0.0460819146863453

***

In [24]:
cov_matrix = sec_returns.cov()
cov_matrix

              PG    BEI.DE
PG      0.000123  0.000040
BEI.DE  0.000040  0.000184

In [25]:
cov_matrix_a = sec_returns.cov() * 250
cov_matrix_a

             PG    BEI.DE
PG      0.03079  0.009910
BEI.DE  0.00991  0.046082

***

In [26]:
corr_matrix = sec_returns.corr()
corr_matrix

              PG    BEI.DE
PG      1.000000  0.262894
BEI.DE  0.262894  1.000000

## Calculating Portfolio Risk

Equal weigthing scheme:

In [27]:
weights = np.array([0.5, 0.5])

Portfolio Variance:

In [46]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))
pfolio_var

0.024172856604744553

Portfolio Volatility:

In [29]:
pfolio_vol = (np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))) ** 0.5
pfolio_vol

0.1554762252074077

In [30]:
print (str(round(pfolio_vol, 5) * 100) + ' %')

15.548 %

## Calculating Diversifiable and Non-Diversifiable Risk of a Portfolio

In [31]:
weights = np.array([0.5, 0.5])

In [32]:
weights[0]

0.5

In [33]:
weights[1]

0.5

***

Diversifiable Risk:

In [34]:
PG_var_a = sec_returns[['PG']].var() * 250
PG_var_a

PG    0.03079
dtype: float64

In [35]:
BEI_var_a = sec_returns[['BEI.DE']].var() * 250
BEI_var_a

BEI.DE    0.046082
dtype: float64

In [36]:
dr = pfolio_var - (weights[0] ** 2 * PG_var_a) - (weights[1] ** 2 * BEI_var_a)
dr

BEI.DE   NaN
PG       NaN
dtype: float64

In [37]:
float(PG_var_a)

0.03079039219936175

In [38]:
PG_var_a = sec_returns['PG'].var() * 250
PG_var_a

0.03079039219936175

In [39]:
BEI_var_a = sec_returns['BEI.DE'].var() * 250
BEI_var_a

0.0460819146863453

In [40]:
dr = pfolio_var - (weights[0] ** 2 * PG_var_a) - (weights[1] ** 2 * BEI_var_a)
dr

0.00495477988331779

In [41]:
print (str(round(dr*100, 3)) + ' %')

0.495 %

Non-Diversifiable Risk:

In [42]:
n_dr_1 = pfolio_var - dr
n_dr_1

0.019218076721426763

In [43]:
n_dr_2 = (weights[0] ** 2 * PG_var_a) + (weights[1] ** 2 * BEI_var_a)
n_dr_2

0.019218076721426763

In [44]:
n_dr_1 == n_dr_2

True