In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
tickers = ['MGLU3.SA', 'LREN3.SA']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']

In [3]:
sec_data.tail()

             MGLU3.SA   LREN3.SA
Date
2020-03-03  52.849998  53.330002
2020-03-04  52.450001  54.549999
2020-03-05  47.790001  51.799999
2020-03-06  45.330002  50.779999
2020-03-09  40.360001  46.000000

In [4]:
sec_returns = np.log(sec_data / sec_data.shift(1))

In [5]:
sec_returns

            MGLU3.SA  LREN3.SA
Date
2011-05-02       NaN       NaN
2011-05-03 -0.009160       NaN
2011-05-04  0.010982       NaN
2011-05-05 -0.006086       NaN
2011-05-06 -0.007353       NaN
...              ...       ...
2020-03-03  0.005693  0.006207
2020-03-04 -0.007597  0.022619
2020-03-05 -0.093044 -0.051728
2020-03-06 -0.052847 -0.019888
2020-03-09 -0.116130 -0.098861

[2195 rows x 2 columns]

## RENNER

In [6]:
sec_returns['LREN3.SA'].mean()

0.0010701651528180745

In [7]:
sec_returns['LREN3.SA'].mean() * 250

0.2675412882045186

In [8]:
sec_returns['LREN3.SA'].std()

0.019580301745402828

In [9]:
sec_returns['LREN3.SA'].std() * 250 ** 0.5

0.30959175394421645

## MAGAZINE LUIZA

In [10]:
sec_returns['MGLU3.SA'].mean()

0.0017925856189205116

In [11]:
sec_returns['MGLU3.SA'].mean() * 250

0.4481464047301279

In [12]:
sec_returns['MGLU3.SA'].std()

0.037249925996235736

In [13]:
sec_returns['MGLU3.SA'].std() * 250 ** 0.5

0.5889730441041081

Final Results:

In [14]:
print ('ATIVO 1: {} = média de retorno ao ano'.format(round(sec_returns['LREN3.SA'].mean() * 250, 3)))
print ('ATIVO 2: {} = média de retorno ao ano'.format(round(sec_returns['MGLU3.SA'].mean() * 250, 3)))

ATIVO 1: 0.268 = média de retorno ao ano
ATIVO 2: 0.448 = média de retorno ao ano

In [15]:
sec_returns[['LREN3.SA', 'MGLU3.SA']].mean() * 250

LREN3.SA    0.267541
MGLU3.SA    0.448146
dtype: float64

### VOLATIVIDADE

In [16]:
sec_returns[['LREN3.SA', 'MGLU3.SA']].std() * 250 ** 0.5

LREN3.SA    0.309592
MGLU3.SA    0.588973
dtype: float64